<p id="notice"><%= notice %></p>

<p>
  <b>Bark:</b>
  <%= @bark_parse.bark_id %>
</p>

<p>
  <b>X choice:</b>
  <%= @bark_parse.x_choice %>
</p>

<p>
  <b>X hyper0:</b>
  <%= @bark_parse.x_hyper0 %>
</p>

<p>
  <b>X hyper1:</b>
  <%= @bark_parse.x_hyper1 %>
</p>

<p>
  <b>X hyper2plus:</b>
  <%= @bark_parse.x_hyper2plus %>
</p>

<p>
  <b>X loc hyper0:</b>
  <%= @bark_parse.x_loc_hyper0 %>
</p>

<p>
  <b>X loc hyper1:</b>
  <%= @bark_parse.x_loc_hyper1 %>
</p>

<p>
  <b>X loc hyper2plus:</b>
  <%= @bark_parse.x_loc_hyper2plus %>
</p>

<p>
  <b>X clause:</b>
  <%= @bark_parse.x_clause %>
</p>

<p>
  <b>X pp:</b>
  <%= @bark_parse.x_pp %>
</p>

<p>
  <b>Y category:</b>
  <%= @bark_parse.y_category %>
</p>

<p>
  <b>Y hyper0:</b>
  <%= @bark_parse.y_hyper0 %>
</p>

<p>
  <b>Y hyper1:</b>
  <%= @bark_parse.y_hyper1 %>
</p>

<p>
  <b>Y hyper2plus:</b>
  <%= @bark_parse.y_hyper2plus %>
</p>

<p>
  <b>Y loc hyper0:</b>
  <%= @bark_parse.y_loc_hyper0 %>
</p>

<p>
  <b>Y loc hyper1:</b>
  <%= @bark_parse.y_loc_hyper1 %>
</p>

<p>
  <b>Y loc hyper2plus:</b>
  <%= @bark_parse.y_loc_hyper2plus %>
</p>

<p>
  <b>Y clause:</b>
  <%= @bark_parse.y_clause %>
</p>

<p>
  <b>Y pp:</b>
  <%= @bark_parse.y_pp %>
</p>

<p>
  <b>Z reason:</b>
  <%= @bark_parse.z_reason %>
</p>


<%= link_to 'Edit', edit_bark_parse_path(@bark_parse) %> |
<%= link_to 'Back', bark_parses_path %>
